<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Proyecto M</title>
    {% load static %}
    {% block css%}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'core/'%}css/estilos.css">
</head>
<body>
    <header>
      
        <img src="{% static 'core/'%}img/logo1.png" alt="Logo" class="logo">

        <nav>
                <ul>
                        <li>
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'galeria' %}">Galeria</a>
                        </li>
                        <li>
                            <a href="{% url 'listado_libros' %}">Listado de Libros</a>
                        </li>
                        <li>
                            <a href="{% url 'nuevo_libro' %}">Nuevo Libro</a>
                        </li>
                </ul>   
        </nav>
        
    </header>

    <div id="principal">
        <br>
        {% block contenido %}

        {% endblock %}


    </div>

    <footer class="hide_on_mobile">
        <div>
            <img src="{% static 'core/'%}img/logo2.png" alt="logo" class="logo_footer">
        </div>
        <div>
            <h4>PRODUCTOS</h4>
            <hr>
            <ul>
                <li>Ofertas</li>
                <li>Novedades</li>
                <li>Los mas vendidos</li>
            </ul>
        </div>
        <div>
                <h4>Nuestra empresa</h4>
                <hr>
                <ul>
                    <li>Informacion</li>
                    <li>Envio</li>
                    <li>Terminos y Condiciones</li>
                </ul>
        </div>
        <div>
                <h4>Informacion de tienda</h4>
                <hr>
                <ul>
                    <li>Chile</li>
                    <li>Melipilla</li>
                    <li>Contacto</li>
                </ul>
        </div>
    </footer>

    <!--footer mobile-->
    <footer class="hide_on_desktop">
        <img src="{% static 'core/'%}img/logo.png" alt="Logo" class="logo_footer_mobile">
    </footer>
    

    <!--<ol>
        <li>elemento 1</li>
        <li>elemento 2</li>
        <li>elemento 3</li>
    </ol>

    <table>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
        </tr>
        <tr>
            <td>Rodrigo</td>
            <td>Pino</td>
            <td>99</td>
        </tr>
    </table>

    <img src="img/gatito.jpg" alt="gatito" width="250px">
-->
    <!--realizamos la carga del script al final
    para asegurarnos que la página esta cargada-->
    {% block javascript %}

    {% endblock %}
    <script src="{% static 'core/'%}js/basico.js"></script>
</body>
</html>